Was/Service References/AccServiceRef/AccService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Was.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Was.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLightStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightStatus" nillable="true" type="tns:LightStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightStatus" nillable="true" type="tns:ArrayOfLightStatus" />
  <xs:complexType name="LightStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightStatus" nillable="true" type="tns:LightStatus" />
  <xs:complexType name="ArrayOfLightReferralSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightReferralSource" nillable="true" type="tns:LightReferralSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightReferralSource" nillable="true" type="tns:ArrayOfLightReferralSource" />
  <xs:complexType name="LightReferralSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferralSourceID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightReferralSource" nillable="true" type="tns:LightReferralSource" />
  <xs:complexType name="ArrayOfLightSale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightSale" nillable="true" type="tns:LightSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightSale" nillable="true" type="tns:ArrayOfLightSale" />
  <xs:complexType name="LightSale">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmountDue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightSale" nillable="true" type="tns:LightSale" />
  <xs:complexType name="ArrayOfLightEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightEmployee" nillable="true" type="tns:LightEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightEmployee" nillable="true" type="tns:ArrayOfLightEmployee" />
  <xs:complexType name="LightEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightEmployee" nillable="true" type="tns:LightEmployee" />
  <xs:complexType name="ArrayOfLightCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightCustomer" nillable="true" type="tns:LightCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightCustomer" nillable="true" type="tns:ArrayOfLightCustomer" />
  <xs:complexType name="LightCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightCustomer" nillable="true" type="tns:LightCustomer" />
  <xs:complexType name="LightSale2">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackorderSaleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCentreID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:LightCustomer" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaysTillPaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreightTaxCodeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceDeliveryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceStatusID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAutoRecorded" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHistorical" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPrinted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTaxInclusive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsThirteenthPeriod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinesPurged" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutstandingBalance" type="xs:double" />
      <xs:element minOccurs="0" name="PreAuditTrail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromisedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferralSourceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesPersonID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToAddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToAddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToAddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToAddressLine4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingMethod" nillable="true" type="tns:LightShippingMethod" />
      <xs:element minOccurs="0" name="ShippingMethodID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxExclusiveFreight" type="xs:double" />
      <xs:element minOccurs="0" name="TaxInclusiveFreight" type="xs:double" />
      <xs:element minOccurs="0" name="Terms" nillable="true" type="tns:LightTerms" />
      <xs:element minOccurs="0" name="TermsID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCredits" type="xs:double" />
      <xs:element minOccurs="0" name="TotalDeposits" type="xs:double" />
      <xs:element minOccurs="0" name="TotalDiscounts" type="xs:double" />
      <xs:element minOccurs="0" name="TotalLines" type="xs:double" />
      <xs:element minOccurs="0" name="TotalPaid" type="xs:double" />
      <xs:element minOccurs="0" name="TotalTax" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionExchangeRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightSale2" nillable="true" type="tns:LightSale2" />
  <xs:complexType name="LightShippingMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingMethodID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightShippingMethod" nillable="true" type="tns:LightShippingMethod" />
  <xs:complexType name="LightTerms">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermsID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightTerms" nillable="true" type="tns:LightTerms" />
  <xs:complexType name="ArrayOfLightTaxCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightTaxCode" nillable="true" type="tns:LightTaxCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightTaxCode" nillable="true" type="tns:ArrayOfLightTaxCode" />
  <xs:complexType name="LightTaxCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxCodeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightTaxCode" nillable="true" type="tns:LightTaxCode" />
  <xs:complexType name="ArrayOfLightShippingMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightShippingMethod" nillable="true" type="tns:LightShippingMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightShippingMethod" nillable="true" type="tns:ArrayOfLightShippingMethod" />
  <xs:complexType name="ArrayOfLightComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightComment" nillable="true" type="tns:LightComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightComment" nillable="true" type="tns:ArrayOfLightComment" />
  <xs:complexType name="LightComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightComment" nillable="true" type="tns:LightComment" />
  <xs:complexType name="ArrayOfLightInvoiceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightInvoiceType" nillable="true" type="tns:LightInvoiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightInvoiceType" nillable="true" type="tns:ArrayOfLightInvoiceType" />
  <xs:complexType name="LightInvoiceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceTypeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightInvoiceType" nillable="true" type="tns:LightInvoiceType" />
  <xs:complexType name="ArrayOfLightCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightCurrency" nillable="true" type="tns:LightCurrency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightCurrency" nillable="true" type="tns:ArrayOfLightCurrency" />
  <xs:complexType name="LightCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightCurrency" nillable="true" type="tns:LightCurrency" />
  <xs:complexType name="ArrayOfLightInvoiceDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightInvoiceDelivery" nillable="true" type="tns:LightInvoiceDelivery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightInvoiceDelivery" nillable="true" type="tns:ArrayOfLightInvoiceDelivery" />
  <xs:complexType name="LightInvoiceDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceDeliveryID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightInvoiceDelivery" nillable="true" type="tns:LightInvoiceDelivery" />
  <xs:complexType name="ArrayOfLightTerms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightTerms" nillable="true" type="tns:LightTerms" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightTerms" nillable="true" type="tns:ArrayOfLightTerms" />
</xs:schema>