Was/Service References/AccServiceRef/AccService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20948/AccService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:20948/AccService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Was.Web" />
  <xs:element name="DoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DoListResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInvoiceStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInvoiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListInvoiceStatusResult" nillable="true" type="q2:ArrayOfLightStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListReferralSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListReferralSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListReferralSourcesResult" nillable="true" type="q3:ArrayOfLightReferralSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSalesWithPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="InvoiceStatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSalesWithPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListSalesWithPagingResult" nillable="true" type="q4:ArrayOfLightSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="InvoiceStatusID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSalesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSalespersons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSalespersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListSalespersonsResult" nillable="true" type="q5:ArrayOfLightEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListCustomersResult" nillable="true" type="q6:ArrayOfLightCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="RetrieveSaleResult" nillable="true" type="q7:LightSale2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="InvoiceStatusID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListSalesResult" nillable="true" type="q8:ArrayOfLightSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTaxCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTaxCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListTaxCodesResult" nillable="true" type="q9:ArrayOfLightTaxCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListShippingMethods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListShippingMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListShippingMethodsResult" nillable="true" type="q10:ArrayOfLightShippingMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListComments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListCommentsResult" nillable="true" type="q11:ArrayOfLightComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInvoiceTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInvoiceTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListInvoiceTypesResult" nillable="true" type="q12:ArrayOfLightInvoiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCurrency">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListCurrencyResult" nillable="true" type="q13:ArrayOfLightCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInvoiceDeliveries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInvoiceDeliveriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListInvoiceDeliveriesResult" nillable="true" type="q14:ArrayOfLightInvoiceDelivery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTerms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTermsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Was.Web" minOccurs="0" name="ListTermsResult" nillable="true" type="q15:ArrayOfLightTerms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>